<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sacis.view.control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <sacis.view.control.Properties.Settings>
            <setting name="sacis_view_control_localhost_Service1" serializeAs="String">
                <value>http://localhost:51664/Service1.asmx</value>
            </setting>
        </sacis.view.control.Properties.Settings>
    </applicationSettings>
</configuration>